.footer {
    background-color: #424242;
    padding-top: 40px;
    padding-bottom: 40px;
}
.wrapper {
    width: 1170px;
    display: flex;
    margin: auto;
    color: rgb(255, 255, 255);
    justify-content: space-between;
}
.container {
    display: flex;
}
.standart {
    font-size: 30px;
    font-family: "Montserrat", Arial, sans-serif;
    margin-right: 25px;
}
/* .logo {
    width: 200px;
    height: 45px;
    margin-right: 25px;
} */
.conf {
    color: rgb(255, 255, 255);
}
.info {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 19.6px;
}
.number {
    font-family: Roboto, sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 19.6px;
}
.free {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22.4px;
}
.number_cont {
    display: flex;
    justify-content: flex-end;
}
.phone {
    width: 22px;
}